


@if $file == editor {
  // Load the fonts.
  @import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans');

  body {
    margin: 15px;
    max-width: 960px
  }
}



@if $file == global or
    $file == editor {
  h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }

  h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
  }

  // Used for frontpage hero.
  // @todo: move to sass\includes\10-header\hero.scss ?
  .overlay {
    position: relative;
    z-index: 10;
  }

  img {
    max-width: 100%;
  }
}



@if $file == global {
  body {
    background: #fff;
  }

  .intro {
    font-size: 18px;
  }

  header {
    background: #000000;
    xbackground: #0086c5;
    padding: 0 0 60px 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .news {
    border-top: 1px solid #ccc;
    list-style: none;
    margin: 20px 0 20px 0;
    padding: 20px 0 0 0;
  }
  .news li {
    margin-bottom: 5px;
  }
  .community {
    background: #f0f0f0;
    margin: 40px 0 0 0;
    padding: 20px 0;
  }
  .community h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
  }
  .tagline {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 20px;
  }
  .supporters {
    margin: 40px 0;
  }
  .footer {
    line-height: 22px;
    background: #222;
    color: white;
    padding: 20px;
  }
  header {
    position: relative;
    overflow: hidden;
  }
  .vspace {
    margin: 20px 0;
  }
  .showcase a {
    display: block;
    margin: 10px 0;
  }
  .csep {
    border-top: 1px solid #ddd;
    margin: 40px 0;
    padding: 40px 0;
  }
  .dries {
    margin-bottom: 20px;
  }
  .badge {
    margin-right: 1em;
  }
  @-webkit-keyframes -webkit-rotating-earth {0% {} 100% {-webkit-transform:rotate(+72deg);}}
}
