


@if $file == global {
  header {
    h1 {
      color: white;
      font-size: 42px;
      margin: 40px 0 20px 0;
      text-shadow: 5px 5px 5px #000;
    }
  }

  .masthead {
    position: relative;
    z-index: 100;
  }
  .masthead-nav {
    float: right;
    margin: 20px 0 40px 0;
  }

  .masthead-brand {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .region-header-right {
    float: right;
    margin: 20px 0 40px 0;
  }
}
